<div class="container">
  <div class="col-md-12">
    <form [formGroup]="postForm" (ngSubmit)="onCreatePost()">
      <div class="form-group mb-3">
        <label class="mb-2"> Title </label>
        <input type="text" class="form-control" formControlName="title" />

        <div
          class="form-text text-muted"
          *ngIf="
            postForm.get('title')?.invalid && postForm.get('title')?.touched
          "
        >
          Title is required.
        </div>
      </div>
      <div class="form-group mb-3">
        <label class="mb-2"> Content </label>
        <textarea class="form-control" formControlName="content"></textarea>

        <div
          class="form-text text-muted"
          *ngIf="
            postForm.get('content')?.invalid && postForm.get('content')?.touched
          "
        >
          Content is required.
        </div>
      </div>
      <button class="my-2 btn btn-primary" type="submit">Add Post</button>
    </form>
  </div>
  <hr>
  <div>
    <table class="table">
      <thead class="thead-dark">
        <th>Title</th>
        <th>Content</th>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts">
          <td>{{post.title}}</td>
          <td>{{post.content}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
