-
<div class="container">
  <div class="filters">
    <!-- EVENT BINDING -->
    <a class="button" (click)="filter = 'Heads'">Heads</a>
    <a class="button" (click)="filter = 'Arms'">Arms</a>
    <a class="button" (click)="filter = 'Torsos'">Torsos</a>
    <a class="button" (click)="filter = 'Bases'">Bases</a>
    <a class="button" (click)="filter = ''">All</a>
  </div>

  <!-- Built it Angular Directives: 
  ngClass="" *ngIf="" *ngFor="" 
  -->
  <ul class="products">
    <li class="product-item" *ngFor="let product of getFilteredProducts()">
      <!-- buy event is the only event in the child component right now : what do i want the buy event to trigger-->
      <bot-product-details
        [product]="product"
        (buy)="addToCart(product)"
      ></bot-product-details>
    </li>                                                   
  </ul>
</div>

