-
<div class="container">
  <div class="filters">
    <!-- <a class="button" (click)="">Heads</a> -->
    <a class="button">Arms</a>
    <a class="button">Torsos</a>
    <a class="button">Bases</a>
    <a class="button">All</a>
  </div>

  <!-- Built it Angular Directives: 
  ngClass="" *ngIf="" *ngFor="" 
  -->
  <ul class="products">
    <li class="product-item" *ngFor="let product of products">
      <div class="product">
        <div class="product-details">
          <!-- THIS IS INTERPOLATION: alt="{{product.name}}" -->
          <!--THIS IS ATTRIBUTE BINDING: [alt]="product.name" (evaluated as expression)-->
          <!-- attribute binding: can also call functions from the component and back to the template -->
          <img [src]="getImageUrl(product)" [alt]="product.name" />
          <div class="product-info">
            <div class="name">{{ product.name }}</div>
            <div class="description">{{ product.description }}</div>
            <div class="category">Part Type: {{ product.category }}</div>
          </div>
        </div>
        <div class="price">
          <div>${{ product.price.toFixed(2) }}</div>
          <button class="cta">Buy</button>
        </div>
      </div>
    </li>
  </ul>
</div>
