-
<div class="container">
  <div class="filters">
    <!-- EVENT BINDING -->
    <a class="button" (click)="filter = 'Heads'">Heads</a>
    <a class="button" (click)="filter = 'Arms'">Arms</a>
    <a class="button" (click)="filter = 'Torsos'">Torsos</a>
    <a class="button" (click)="filter = 'Bases'">Bases</a>
    <a class="button" (click)="filter = ''">All</a>
  </div>

  <!-- Built it Angular Directives: 
  ngClass="" *ngIf="" *ngFor="" 
  -->
  <ul class="products">
    <li class="product-item" *ngFor="let product of getFilterProducts()">
      <div class="product">
        <div class="product-details">
          <!-- THIS IS INTERPOLATION: alt="{{product.name}}" -->
          <!--THIS IS ATTRIBUTE BINDING: [alt]="product.name" (evaluated as expression)-->
          <!-- attribute binding: can also call functions from the component and back to the template -->
          <!-- SAFE NAVIGATION OPERATOR: just add ? after an instance name -->
          <img [src]="getImageUrl(product)" [alt]="product?.name" />
          <div class="product-info">
            <div class="name">{{ product?.name }}</div>
            <div class="description">{{ product?.description }}</div>
            <div class="category">Part Type: {{ product?.category }}</div>
          </div>
        </div>
        <div class="price">
          <!-- * structural directive if it modifies the structure of the html document by adding or removing content-->
          <div *ngIf="product.discount === 0">
            {{ product?.price | currency: "PHP" : "symbol" }}
          </div>
          <div class="discount" *ngIf="product.discount > 0">
            {{
              product.price * (1 - product.discount)
                | currency: "PHP" : "symbol"
            }}
          </div>
          <button class="cta">Buy</button>
        </div>
      </div>
    </li>
  </ul>
</div>
